@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
    --font-barlow: "Barlow Semi Condensed", sans-serif;
}

@utility card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 12px;
    gap: 1.5rem;
}

@utility card-heading {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.025rem;
    font-family: "Barlow Semi Condensed", sans-serif;
}

@utility card-profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

@utility card-image {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
}
